/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap-app {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #A0A0A0;
  border-top: 1px solid #FFD09F;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap-app > .container {
  padding: 105px 15px 0;
}
.container .credit {
  margin: 15px 0 0;
  text-align: center;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}
.arrows{
  width: 20px;
  height: 1px;
  padding-left: 10px;
  position: relative;
}
.arrows .glyphicon{
  position: absolute;
  cursor: pointer;
}
.arrows .glyphicon-chevron-up{
  top:-10px;
}
.arrows .glyphicon-chevron-down{
  top:10px;
  margin-left: -1px;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  padding-right: 5px;
  padding-left: 5px;
}

.green{
  color: #468847;
}
.red{
  color: #C7254E;
}
.navbar-default{
  background-color: #FFD09F;
}
.badge.level {
  background-color: #3096F5;
}
.badge.bonus {
  background-color: #FF8A2D;
}
.badge.total {
  background-color: #25C425;
}
.panel-title span {
  padding-left: 15px;
}
.panel-title span + span {
  padding-left:7px;
}

a:hover,
a:active,
a:link {
  text-decoration: none;
}

.main-title{
  text-align: center;
  color: #D58512;
}