<div id="newPlayer">
    <div data-role="header" data-position="fixed">
        <h1>Munchkin</h1>
    </div>
    <div data-role="content" id="content">
        <div data-role="fieldcontain" class="ui-hide-label">
            <label for="username">Player name:</label>
            <input type="text" name="name" id="playerName" value="" placeholder="Player name"/>
            <div data-role="fieldcontain">
            <label for="gender">Gender:</label>
                <select name="gender" id="gender" data-role="slider">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <a href="#" data-role="button" id="savePlayer" data-icon="check">Save</a>
        </div>
    </div>
    <div data-role="footer" data-position="fixed">
    </div>
</div>