<div id="newPlayer" class="row">
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <form role="form">
        <div class="form-group">
            <label for="username">Player name:</label>
            <input type="text" class="form-control" id="playerName" value="" placeholder="Player name"/>
        </div>
        <div class="form-group">
            <div class="radio-inline">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                Male
              </label>
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                Female
              </label>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
</div>